<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

 
      <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Upvote
        <%= @link.get_upvotes.size %>
      <% end %>


      <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-thumbs-down">
        Downvote
        <%= @link.get_downvotes.size %>
      <% end %>

      <%= @link.comments.count %> Comments

      <br>
     <p>
      <form action='/links/<%= @link.id %>/comments' method="POST">
      	<input type='hidden' name='comment[link_id]' value="<%= @link.id %>">
      	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      	<textarea name="comment[body]"></textarea>
      	<br>
      	<input type='submit' value="Add comment" class="btn btn-primary" >
      </form>
  	</p>
      <br>
    <% if @link.comments %>  
  	<% @link.comments.each do |x| %>
  		<ul class="list-group">
  		<strong><%= x.user.name %></strong>
  		<br>
  		Submitted <%= time_ago_in_words(x.created_at) %> 
  		<br>
  		<%= x.body %> 
 
  		
  		<form action='/comments/<%= x.id %>' method="POST">
      	<input type='hidden' name='comment[link_id]' value="<%= @link.id %>">
      	<input type='hidden' name='comment[comment_id]' value="<%= x.id %>">
      	<input type="hidden"name="_method"value="delete">
      	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      	<br>
      	<input type='submit' class="btn btn-danger" value="Delete comment" >
      	</form>
  		</ul>
  		<br>
  	<% end %>
  	<% end %> 
	<br>
	<br>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
